In [4]:
import requests
import pandas as pd
import json
import dotenv as dotenv
import os
dotenv.load_dotenv()
api_key_movies=os.getenv("api_key_movies")

# Películas de Drama

In [27]:
import requests
generos = ['Drama', 'Comedy', 'Action', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Thriller']

url = "https://moviesdatabase.p.rapidapi.com/titles"

for i in range(1990,2025,1):
    querystring = {"genre":"Drama","startYear":{i},"titleType":"movie","sort":"year.incr","endYear":"2024","limit":"50"}

headers = {
	"x-rapidapi-key": api_key_movies,
	"x-rapidapi-host": "moviesdatabase.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

movies = response.json()

In [28]:
with open('movies.json', 'w') as archivo_json:
    json.dump(movies, archivo_json, indent=4)

In [29]:
movies.keys()

dict_keys(['page', 'next', 'entries', 'results'])

In [40]:
movies['results'][0]

{'_id': '61e58ea278c012aa34446beb',
 'id': 'tt10579986',
 'primaryImage': {'id': 'rm878544897',
  'width': 1217,
  'height': 1792,
  'url': 'https://m.media-amazon.com/images/M/MV5BYjgyN2RjZWEtYzRjYy00ZGEyLWI4MTItNjk5OGI1YThhZWNlXkEyXkFqcGc@._V1_.jpg',
  'caption': {'plainText': "Mom's Coming (2024)", '__typename': 'Markdown'},
  '__typename': 'Image'},
 'titleType': {'displayableProperty': {'value': {'plainText': '',
    '__typename': 'Markdown'},
   '__typename': 'DisplayableTitleTypeProperty'},
  'text': 'Movie',
  'id': 'movie',
  'isSeries': False,
  'isEpisode': False,
  'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
  'canHaveEpisodes': False,
  '__typename': 'TitleType'},
 'titleText': {'text': "Mom's Coming", '__typename': 'TitleText'},
 'originalTitleText': {'text': "Mom's Coming", '__typename': 'TitleText'},
 'releaseYear': {'year': 2024, 'endYear': None, '__typename': 'YearRange'},
 'releaseDate': {'day': 24,
  'month': 11,
  'year': 2024,
  '__typename': 'ReleaseDate'}}

In [53]:
cantidad_movies = len(movies['results'])

In [62]:
cantidad_movies

50

In [60]:
id_movie = movies['results'][0]['id']

In [61]:
id_movie

'tt10579986'

In [70]:
movies['results'][49]['primaryImage']['caption']['plainText']

'Yoake no subete (2024)'

In [105]:
movies['results'][0]['titleType']['text']

'Movie'

In [142]:
list_dict = []

for i in range(0,cantidad_movies):
    # print(i)
    try:
        tipo_movie = movies['results'][i]['titleType']['text']
        id_movie = movies['results'][i]['id'] # me quedo con id
        name_movie = movies['results'][i]['primaryImage']['caption']['plainText'] # me quedo con el nombre
        month_premiere = movies['results'][i]['releaseDate']['month'] # me quedo con el mes
        year_premiere = movies['results'][i]['releaseDate']['year'] # me quedo con el año
        diccionario = {'id': id_movie,
                    'tipo':tipo_movie,
                    'nombre': name_movie,
                    'mes_estreno': month_premiere,
                    'anio_estreno': year_premiere}
        list_dict.append(diccionario)
    except:
        continue

In [143]:
df_peli = pd.DataFrame(list_dict)

In [144]:
df_peli.head()

,id,tipo,nombre,mes_estreno,anio_estreno
0,tt10579986,Movie,Mom's Coming (2024),11.0,2024.0
1,tt10597228,Movie,Love Song and Power (2024),1.0,2024.0
2,tt11097384,Movie,Adam Sandler in Spaceman (2024),3.0,2024.0
3,tt11152168,Movie,"Louis Gossett Jr., Ryan Reynolds, Sam Rockwell...",5.0,2024.0
4,tt11822244,Movie,Manje Bistre 3 (2024),7.0,2024.0

In [145]:
df_peli['Genero'] = 'Drama'

In [146]:
df_peli.head()

,id,tipo,nombre,mes_estreno,anio_estreno,Genero
0,tt10579986,Movie,Mom's Coming (2024),11.0,2024.0,Drama
1,tt10597228,Movie,Love Song and Power (2024),1.0,2024.0,Drama
2,tt11097384,Movie,Adam Sandler in Spaceman (2024),3.0,2024.0,Drama
3,tt11152168,Movie,"Louis Gossett Jr., Ryan Reynolds, Sam Rockwell...",5.0,2024.0,Drama
4,tt11822244,Movie,Manje Bistre 3 (2024),7.0,2024.0,Drama

In [147]:
df_peli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            47 non-null     object
 1   tipo          47 non-null     object
 2   nombre        47 non-null     object
 3   mes_estreno   44 non-null     float64
 4   anio_estreno  46 non-null     float64
 5   Genero        47 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.3+ KB

In [148]:
df_peli['anio_estreno'].fillna(2024, inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\2983259277.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_peli['anio_estreno'].fillna(2024, inplace=True)

In [149]:
df_peli['mes_estreno'].fillna('Desconocido', inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\1946596253.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_peli['mes_estreno'].fillna('Desconocido', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\1946596253.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Desconocido' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_peli['mes_estreno'].fillna('Desconocido', inplace=True)

In [150]:
df_peli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            47 non-null     object
 1   tipo          47 non-null     object
 2   nombre        47 non-null     object
 3   mes_estreno   47 non-null     object
 4   anio_estreno  47 non-null     float64
 5   Genero        47 non-null     object
dtypes: float64(1), object(5)
memory usage: 2.3+ KB

In [95]:
import requests
generos = ['Drama', 'Comedy', 'Action', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Thriller']

url = "https://moviesdatabase.p.rapidapi.com/titles"

# for i in range(1990,2025,1):
querystring = {"genre":"Drama","startYear":'1990',"titleType":"movie","sort":"year.incr","endYear":"2024","limit":"50"}

headers = {
	"x-rapidapi-key": api_key_movies,
	"x-rapidapi-host": "moviesdatabase.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

movies_90 = response.json()

In [96]:
with open('movies_90.json', 'w') as archivo_json:
    json.dump(movies_90, archivo_json, indent=4)

In [188]:
list_dict_90 = []

for i in range(0,50):
    # print(i)
    try:
        tipo_movie_90 = movies_90['results'][i]['titleType']['text']
        id_movie_90 = movies_90['results'][i]['id'] # me quedo con id
        name_movie_90 = movies_90['results'][i]['primaryImage']['caption']['plainText'] # me quedo con el nombre
        month_premiere_90 = movies_90['results'][i]['releaseDate']['month'] # me quedo con el mes
        year_premiere_90 = movies_90['results'][i]['releaseDate']['year'] # me quedo con el año
        diccionario = {'id': id_movie_90,
                       'tipo':tipo_movie_90,
                    'nombre': name_movie_90,
                    'mes_estreno': month_premiere_90,
                    'anio_estreno': year_premiere_90}
        list_dict_90.append(diccionario)
    except:
        continue

In [189]:
list_dict_90

[{'id': 'tt0059325',
  'tipo': 'Movie',
  'nombre': 'Jahrgang 45 (1990)',
  'mes_estreno': 10,
  'anio_estreno': 1990},
 {'id': 'tt0059900',
  'tipo': 'Movie',
  'nombre': 'Wenn du groß bist, lieber Adam (1990)',
  'mes_estreno': 10,
  'anio_estreno': 1990},
 {'id': 'tt0068494',
  'tipo': 'Movie',
  'nombre': 'Domo Arigato (1990)',
  'mes_estreno': 8,
  'anio_estreno': 1990},
 {'id': 'tt0075259',
  'tipo': 'Movie',
  'nombre': 'Spy Story (1990)',
  'mes_estreno': 3,
  'anio_estreno': 1990},
 {'id': 'tt0081721',
  'tipo': 'Movie',
  'nombre': 'Vincent et moi (1990)',
  'mes_estreno': 12,
  'anio_estreno': 1990},
 {'id': 'tt0090665',
  'tipo': 'Movie',
  'nombre': 'Asfour Stah (1990)',
  'mes_estreno': 3,
  'anio_estreno': 1991},
 {'id': 'tt0093210',
  'tipo': 'Movie',
  'nombre': 'La hora 24 (1990)',
  'mes_estreno': None,
  'anio_estreno': 1990},
 {'id': 'tt0093989',
  'tipo': 'Movie',
  'nombre': 'Xian sha lu (1990)',
  'mes_estreno': 11,
  'anio_estreno': 1990},
 {'id': 'tt0094666',
  'tipo': 'Movie',
  'nombre': "Mia Sara, John Savage, and William Hickey in Any Man's Death (1990)",
  'mes_estreno': 5,
  'anio_estreno': 1990},
 {'id': 'tt0094857',
  'tipo': 'Movie',
  'nombre': 'Chi se da feng bao (1990)',
  'mes_estreno': 3,
  'anio_estreno': 1990},
 {'id': 'tt0095840',
  'tipo': 'Movie',
  'nombre': 'Payback (1990)',
  'mes_estreno': 4,
  'anio_estreno': 1990},
 {'id': 'tt0096469',
  'tipo': 'Movie',
  'nombre': 'Wu ye tian shi (1990)',
  'mes_estreno': 10,
  'anio_estreno': 1990},
 {'id': 'tt0096775',
  'tipo': 'Movie',
  'nombre': 'Agneekaal (1990)',
  'mes_estreno': 10,
  'anio_estreno': 1990},
 {'id': 'tt0096992',
  'tipo': 'Movie',
  'nombre': 'Bumazhnye glaza Prishvina (1990)',
  'mes_estreno': 2,
  'anio_estreno': 1990},
 {'id': 'tt0096937',
  'tipo': 'Movie',
  'nombre': 'Anatoliy Romashin, Vladimir Samoylov, and Mikhail Efremov in Blagorodnyy razboynik Vladimir Dubrovskiy (1990)',
  'mes_estreno': 1,
  'anio_estreno': 1990},
 {'id': 'tt0096025',
  'tipo': 'Movie',
  'nombre': "Sailors Don't Cry (1990)",
  'mes_estreno': 6,
  'anio_estreno': 1990},
 {'id': 'tt0096174',
  'tipo': 'Movie',
  'nombre': 'Zarko Lausevic and Anja Sovagovic-Despot in Stela (1990)',
  'mes_estreno': 5,
  'anio_estreno': 1990},
 {'id': 'tt0095902',
  'tipo': 'Movie',
  'nombre': 'Primo Baby (1990)',
  'mes_estreno': 8,
  'anio_estreno': 1990},
 {'id': 'tt0096500',
  'tipo': 'Movie',
  'nombre': 'Miroslav Etzler in Zbabelec (1990)',
  'mes_estreno': None,
  'anio_estreno': 1990},
 {'id': 'tt0096845',
  'tipo': 'Movie',
  'nombre': 'Atlantic Rhapsody - 52 myndir úr Tórshavn (1990)',
  'mes_estreno': 1,
  'anio_estreno': 1990},
 {'id': 'tt0097339',
  'tipo': 'Movie',
  'nombre': 'Father (1990)',
  'mes_estreno': 8,
  'anio_estreno': 1990},
 {'id': 'tt0096817',
  'tipo': 'Movie',
  'nombre': 'Steven Weber and Belinda Becker in Los ángeles (1990)',
  'mes_estreno': 11,
  'anio_estreno': 1991},
 {'id': 'tt0097129',
  'tipo': 'Movie',
  'nombre': 'Crossing the Line (1990)',
  'mes_estreno': 11,
  'anio_estreno': 1990},
 {'id': 'tt0097298',
  'tipo': 'Movie',
  'nombre': 'Eternity (1990)',
  'mes_estreno': 11,
  'anio_estreno': 1990},
 {'id': 'tt0096752',
  'tipo': 'Movie',
  'nombre': 'Hanna Schygulla and Daniela Schötz in Abrahams Gold (1990)',
  'mes_estreno': 4,
  'anio_estreno': 1990},
 {'id': 'tt0097573',
  'tipo': 'Movie',
  'nombre': 'Jeff Lester and Adrianne Sachs in In the Cold of the Night (1990)',
  'mes_estreno': 12,
  'anio_estreno': 1990},
 {'id': 'tt0097697',
  'tipo': 'Movie',
  'nombre': 'Könnyü vér (1990)',
  'mes_estreno': 9,
  'anio_estreno': 1990},
 {'id': 'tt0097802',
  'tipo': 'Movie',
  'nombre': 'Mado, poste restante (1990)',
  'mes_estreno': 10,
  'anio_estreno': 1990},
 {'id': 'tt0098144',
  'tipo': 'Movie',
  'nombre': 'La punyalada (1990)',
  'mes_estreno': 1,
  'anio_estreno': 1990},
 {'id': 'tt0097968',
  'tipo': 'Movie',
  'nombre': 'Nezný barbar (1990)',
  'mes_estreno': 9,
  'anio_estreno': 1990},
 {'id': 'tt0098139',
  'tipo': 'Movie',
  'nombre': 'Pont de Varsòvia (1990)',
  'mes_estreno': 3,
  'anio_estreno': 1990},
 {'id': 'tt0098004',
  'tipo': 'Movie',
  'nombre': 'Nochevala tuchka zolotaya... (1990)',
  'mes_estreno': 5,
  'anio_estreno': 1990},
 {'id': 'tt0097833',
  'tipo': 'Movie',
  'nombre': 'Marcowe migdaly (1990)',
  'mes_estreno': 2,
  'anio_estreno': 1990},
 {'id': 'tt0097106',
  'tipo': 'Movie',
  'nombre': 'Conte de printemps (1990)',
  'mes_estreno': 2,
  'anio_estreno': 1991},
 {'id': 'tt0096875',
  'tipo': 'Movie',
  'nombre': 'Jodie Foster and Dennis Hopper in Catchfire (1990)',
  'mes_estreno': 4,
  'anio_estreno': 1990},
 {'id': 'tt0096296',
  'tipo': 'Movie',
  'nombre': 'Tragediya v stile rok (1990)',
  'mes_estreno': 2,
  'anio_estreno': 1990},
 {'id': 'tt0097115',
  'tipo': 'Movie',
  'nombre': 'Charlie Sheen and Juliette Caton in Courage Mountain (1990)',
  'mes_estreno': 2,
  'anio_estreno': 1990},
 {'id': 'tt0096838',
  'tipo': 'Movie',
  'nombre': "L'assassina (1990)",
  'mes_estreno': 8,
  'anio_estreno': 1990},
 {'id': 'tt0096879',
  'tipo': 'Movie',
  'nombre': 'Bal na dworcu w Koluszkach (1990)',
  'mes_estreno': 4,
  'anio_estreno': 1990},
 {'id': 'tt0096984',
  'tipo': 'Movie',
  'nombre': 'Brodyachiy avtobus (1990)',
  'mes_estreno': 8,
  'anio_estreno': 1990},
 {'id': 'tt0097475',
  'tipo': 'Movie',
  'nombre': 'A halálraítélt (1990)',
  'mes_estreno': 5,
  'anio_estreno': 1990},
 {'id': 'tt0096883',
  'tipo': 'Movie',
  'nombre': 'Ballbuster (1990)',
  'mes_estreno': None,
  'anio_estreno': 1990},
 {'id': 'tt0098657',
  'tipo': 'Movie',
  'nombre': 'Winckelmanns Reisen (1990)',
  'mes_estreno': 11,
  'anio_estreno': 1991},
 {'id': 'tt0097348',
  'tipo': 'Movie',
  'nombre': 'Fung yue tung lo (1990)',
  'mes_estreno': 5,
  'anio_estreno': 1990},
 {'id': 'tt0096825',
  'tipo': 'Movie',
  'nombre': 'Any Time, Any Play (1990)',
  'mes_estreno': 11,
  'anio_estreno': 1990},
 {'id': 'tt0097738',
  'tipo': 'Movie',
  'nombre': 'La leyenda de una máscara (1990)',
  'mes_estreno': 2,
  'anio_estreno': 1991}]

In [190]:
df_pelis_90 = pd.DataFrame(list_dict_90)

In [191]:
df_pelis_90.head()

,id,tipo,nombre,mes_estreno,anio_estreno
0,tt0059325,Movie,Jahrgang 45 (1990),10.0,1990
1,tt0059900,Movie,"Wenn du groß bist, lieber Adam (1990)",10.0,1990
2,tt0068494,Movie,Domo Arigato (1990),8.0,1990
3,tt0075259,Movie,Spy Story (1990),3.0,1990
4,tt0081721,Movie,Vincent et moi (1990),12.0,1990

In [192]:
df_pelis_90['Genero'] = 'Drama'

In [193]:
df_pelis_90.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            46 non-null     object
 1   tipo          46 non-null     object
 2   nombre        46 non-null     object
 3   mes_estreno   43 non-null     float64
 4   anio_estreno  46 non-null     int64
 5   Genero        46 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.3+ KB

In [194]:
df_pelis_90['mes_estreno'].fillna('Desconocido', inplace=True)
df_pelis_90['anio_estreno'].fillna(2024, inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\1328662519.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_pelis_90['mes_estreno'].fillna('Desconocido', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\1328662519.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Desconocido' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_pelis_90['mes_estreno'].fillna('Desconocido', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\1328662519.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_pelis_90['anio_estreno'].fillna(2024, inplace=True)

In [195]:
df_drama = pd.concat([df_peli,df_pelis_90], axis=0)

In [196]:
df_drama

,id,tipo,nombre,mes_estreno,anio_estreno,Genero
0,tt10579986,Movie,Mom's Coming (2024),11.0,2024.0,Drama
1,tt10597228,Movie,Love Song and Power (2024),1.0,2024.0,Drama
2,tt11097384,Movie,Adam Sandler in Spaceman (2024),3.0,2024.0,Drama
3,tt11152168,Movie,"Louis Gossett Jr., Ryan Reynolds, Sam Rockwell...",5.0,2024.0,Drama
4,tt11822244,Movie,Manje Bistre 3 (2024),7.0,2024.0,Drama
...,...,...,...,...,...,...
41,tt0096883,Movie,Ballbuster (1990),Desconocido,1990.0,Drama
42,tt0098657,Movie,Winckelmanns Reisen (1990),11.0,1991.0,Drama
43,tt0097348,Movie,Fung yue tung lo (1990),5.0,1990.0,Drama
44,tt0096825,Movie,"Any Time, Any Play (1990)",11.0,1990.0,Drama
45,tt0097738,Movie,La leyenda de una máscara (1990),2.0,1991.0,Drama

In [197]:
df_drama['id'].nunique() #tengo todos los id distintos

93

# Películas Comedy

In [184]:
import requests
generos = ['Drama', 'Comedy', 'Action', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Thriller']

url = "https://moviesdatabase.p.rapidapi.com/titles"

# for i in range(1990,2025,1):
querystring = {"genre":"Comedy","startYear":'1990',"titleType":"movie","sort":"year.incr","endYear":"2024","limit":"50"}

headers = {
	"x-rapidapi-key": api_key_movies,
	"x-rapidapi-host": "moviesdatabase.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

movies_comedy_2024 = response.json()

In [185]:
with open('movies_com_2024.json', 'w') as archivo_json:
    json.dump(movies_comedy_2024, archivo_json, indent=4)

In [198]:
list_dict_com_90s = []

for i in range(0,50):
    # print(i)
    try:
        tipo_movie_90 = movies_comedy_2024['results'][i]['titleType']['text']
        id_movie_90 = movies_comedy_2024['results'][i]['id'] # me quedo con id
        name_movie_90 = movies_comedy_2024['results'][i]['primaryImage']['caption']['plainText'] # me quedo con el nombre
        month_premiere_90 = movies_comedy_2024['results'][i]['releaseDate']['month'] # me quedo con el mes
        year_premiere_90 = movies_comedy_2024['results'][i]['releaseDate']['year'] # me quedo con el año
        diccionario = {'id': id_movie_90,
                       'tipo':tipo_movie_90,
                    'nombre': name_movie_90,
                    'mes_estreno': month_premiere_90,
                    'anio_estreno': year_premiere_90}
        list_dict_com_90s.append(diccionario)
    except:
        continue

In [199]:
df_com_90 = pd.DataFrame(list_dict_com_90s)

In [200]:
df_com_90.head()

,id,tipo,nombre,mes_estreno,anio_estreno
0,tt0090665,Movie,Asfour Stah (1990),3.0,1991
1,tt0091899,Movie,O Escorpião Escarlate (1990),NaN,1990
2,tt0095840,Movie,Payback (1990),4.0,1990
3,tt0097253,Movie,Juliusz Machulski in Dezha vyu (1990),4.0,1990
4,tt0096506,Movie,Zhong Ri nan bei he (1990),5.0,1990

In [201]:
df_com_90.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            47 non-null     object
 1   tipo          47 non-null     object
 2   nombre        47 non-null     object
 3   mes_estreno   46 non-null     float64
 4   anio_estreno  47 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.0+ KB

In [202]:
df_com_90['mes_estreno'].fillna('Desconocido', inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\3679845190.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_com_90['mes_estreno'].fillna('Desconocido', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\3679845190.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Desconocido' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_com_90['mes_estreno'].fillna('Desconocido', inplace=True)

## Comedias 2024

In [203]:
import requests
generos = ['Drama', 'Comedy', 'Action', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Thriller']

url = "https://moviesdatabase.p.rapidapi.com/titles"

for i in range(1990,2025,1):
    querystring = {"genre":"Comedy","startYear":{i},"titleType":"movie","sort":"year.incr","endYear":"2024","limit":"50"}

headers = {
	"x-rapidapi-key": api_key_movies,
	"x-rapidapi-host": "moviesdatabase.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

movies_com_actuales = response.json()

In [204]:
list_dict_com_actuales = []

for i in range(0,50):
    # print(i)
    try:
        tipo_movie = movies_com_actuales['results'][i]['titleType']['text']
        id_movie = movies_com_actuales['results'][i]['id'] # me quedo con id
        name_movie = movies_com_actuales['results'][i]['primaryImage']['caption']['plainText'] # me quedo con el nombre
        month_premiere = movies_com_actuales['results'][i]['releaseDate']['month'] # me quedo con el mes
        year_premiere = movies_com_actuales['results'][i]['releaseDate']['year'] # me quedo con el año
        diccionario = {'id': id_movie,
                       'tipo':tipo_movie,
                    'nombre': name_movie,
                    'mes_estreno': month_premiere,
                    'anio_estreno': year_premiere}
        list_dict_com_actuales.append(diccionario)
    except:
        continue

In [205]:
df_com = pd.DataFrame(list_dict_com_actuales)

In [206]:
df_com.head()

,id,tipo,nombre,mes_estreno,anio_estreno
0,tt10408218,Movie,Pizzodyssey (2024),2.0,2024.0
1,tt11152168,Movie,"Louis Gossett Jr., Ryan Reynolds, Sam Rockwell...",5.0,2024.0
2,tt12975102,Movie,"Olivia d'Abo, J.D. Buckwell, Eileen Dietz, Sea...",11.0,2024.0
3,tt13036100,Movie,Broken Glass (2024),2.0,2024.0
4,tt13176330,Movie,"Flavor Flav, RuPaul, Jason Sudeikis, Rainn Wil...",11.0,2024.0

In [207]:
df_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            39 non-null     object
 1   tipo          39 non-null     object
 2   nombre        39 non-null     object
 3   mes_estreno   37 non-null     float64
 4   anio_estreno  38 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.7+ KB

In [209]:
df_com['mes_estreno'].fillna('Desconocido', inplace=True)
df_com['anio_estreno'].fillna(2024 ,inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\1549228346.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_com['anio_estreno'].fillna(2024 ,inplace=True)

In [210]:
df_comedies = pd.concat([df_com, df_com_90], axis=0)

In [211]:
df_comedies.head()

,id,tipo,nombre,mes_estreno,anio_estreno
0,tt10408218,Movie,Pizzodyssey (2024),2.0,2024.0
1,tt11152168,Movie,"Louis Gossett Jr., Ryan Reynolds, Sam Rockwell...",5.0,2024.0
2,tt12975102,Movie,"Olivia d'Abo, J.D. Buckwell, Eileen Dietz, Sea...",11.0,2024.0
3,tt13036100,Movie,Broken Glass (2024),2.0,2024.0
4,tt13176330,Movie,"Flavor Flav, RuPaul, Jason Sudeikis, Rainn Wil...",11.0,2024.0

In [224]:
df_comedies['Genero'] = 'Comedy'

# Películas de acción

In [212]:
import requests
generos = ['Drama', 'Comedy', 'Action', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Thriller']

url = "https://moviesdatabase.p.rapidapi.com/titles"

# for i in range(1990,2025,1):
querystring = {"genre":"Action","startYear":'1990',"titleType":"movie","sort":"year.incr","endYear":"2024","limit":"50"}

headers = {
	"x-rapidapi-key": api_key_movies,
	"x-rapidapi-host": "moviesdatabase.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

movies_action_90 = response.json()

In [220]:
movies_action_90['results'][0]

{'_id': '61e580fe95801a78bc414fd3',
 'id': 'tt0075259',
 'primaryImage': {'id': 'rm3423950592',
  'width': 600,
  'height': 900,
  'url': 'https://m.media-amazon.com/images/M/MV5BMTQ3NTc4YjgtNTY4Ni00Y2Y5LWE1NDctYmZlODcwY2QwMmNjXkEyXkFqcGdeQXVyMTg2NjYzOA@@._V1_.jpg',
  'caption': {'plainText': 'Spy Story (1990)', '__typename': 'Markdown'},
  '__typename': 'Image'},
 'titleType': {'text': 'Movie',
  'id': 'movie',
  'isSeries': False,
  'isEpisode': False,
  '__typename': 'TitleType'},
 'titleText': {'text': 'Spy Story', '__typename': 'TitleText'},
 'originalTitleText': {'text': 'Spy Story', '__typename': 'TitleText'},
 'releaseYear': {'year': 1990, 'endYear': None, '__typename': 'YearRange'},
 'releaseDate': {'day': 23,
  'month': 3,
  'year': 1990,
  '__typename': 'ReleaseDate'}}

In [225]:
list_dict_action_90 = []

for i in range(0,50):
    # print(i)
    try:
        tipo_movie = movies_action_90['results'][i]['titleType']['text']
        id_movie = movies_action_90['results'][i]['id'] # me quedo con id
        name_movie = movies_action_90['results'][i]['primaryImage']['caption']['plainText'] # me quedo con el nombre
        month_premiere = movies_action_90['results'][i]['releaseDate']['month'] # me quedo con el mes
        year_premiere = movies_action_90['results'][i]['releaseDate']['year'] # me quedo con el año
        diccionario = {'id': id_movie,
                       'tipo':tipo_movie,
                    'nombre': name_movie,
                    'mes_estreno': month_premiere,
                    'anio_estreno': year_premiere,
                    'Genero':'Accion'}
        list_dict_action_90.append(diccionario)
    except:
        continue

In [226]:
df_action_90 = pd.DataFrame(list_dict_action_90)

In [227]:
df_action_90.head()

,id,tipo,nombre,mes_estreno,anio_estreno,Genero
0,tt0075259,Movie,Spy Story (1990),3.0,1990,Accion
1,tt0092926,Movie,Martin McNamara and Michael McNamara in Dragon...,6.0,1990,Accion
2,tt0094376,Movie,Cynthia Khan in Huang jia shi jie zhi: Zhong j...,6.0,1990,Accion
3,tt0094004,Movie,Soldier of Fortune (1990),4.0,1990,Accion
4,tt0093989,Movie,Xian sha lu (1990),11.0,1990,Accion

## Accion actuales

In [232]:
import requests
generos = ['Drama', 'Comedy', 'Action', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Thriller']

url = "https://moviesdatabase.p.rapidapi.com/titles"

for i in range(1990,2025,1):
	querystring = {f"genre":"Action","startYear":{i},"titleType":"movie","sort":"year.incr","endYear":"2024","limit":"50"}

headers = {
	"x-rapidapi-key": api_key_movies,
	"x-rapidapi-host": "moviesdatabase.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

movies_action = response.json()

In [233]:
movies_action['results'][0]

{'_id': '61e5919778c012aa344524ad',
 'id': 'tt11078340',
 'primaryImage': {'id': 'rm2624671233',
  'width': 3508,
  'height': 4961,
  'url': 'https://m.media-amazon.com/images/M/MV5BYzNiNGE3NDMtMGY0MS00YzhkLThlMTUtOThmZTg0ZjU2NmIxXkEyXkFqcGc@._V1_.jpg',
  'caption': {'plainText': 'Slasher House 3 (2024)', '__typename': 'Markdown'},
  '__typename': 'Image'},
 'titleType': {'displayableProperty': {'value': {'plainText': '',
    '__typename': 'Markdown'},
   '__typename': 'DisplayableTitleTypeProperty'},
  'text': 'Movie',
  'id': 'movie',
  'isSeries': False,
  'isEpisode': False,
  'categories': [{'value': 'movie', '__typename': 'TitleTypeCategory'}],
  'canHaveEpisodes': False,
  '__typename': 'TitleType'},
 'titleText': {'text': 'Slasher House 3', '__typename': 'TitleText'},
 'originalTitleText': {'text': 'Slasher House 3', '__typename': 'TitleText'},
 'releaseYear': {'year': 2024, 'endYear': None, '__typename': 'YearRange'},
 'releaseDate': {'day': 4,
  'month': 3,
  'year': 2024,
  '__typename': 'ReleaseDate'}}

In [234]:
list_dict_action = []

for i in range(0,50):
    # print(i)
    try:
        tipo_movie = movies_action['results'][i]['titleType']['text']
        id_movie = movies_action['results'][i]['id'] # me quedo con id
        name_movie = movies_action['results'][i]['primaryImage']['caption']['plainText'] # me quedo con el nombre
        month_premiere = movies_action['results'][i]['releaseDate']['month'] # me quedo con el mes
        year_premiere = movies_action['results'][i]['releaseDate']['year'] # me quedo con el año
        diccionario = {'id': id_movie,
                       'tipo':tipo_movie,
                    'nombre': name_movie,
                    'mes_estreno': month_premiere,
                    'anio_estreno': year_premiere,
                    'Genero':'Accion'}
        list_dict_action.append(diccionario)
    except:
        continue

In [235]:
df_action = pd.DataFrame(list_dict_action)

In [236]:
df_action.head()

,id,tipo,nombre,mes_estreno,anio_estreno,Genero
0,tt11078340,Movie,Slasher House 3 (2024),3.0,2024,Accion
1,tt11374514,Movie,Clank and the Golden Scar (2024),12.0,2024,Accion
2,tt12037194,Movie,Anya Taylor-Joy in Furiosa: A Mad Max Saga (2024),5.0,2024,Accion
3,tt13176330,Movie,"Flavor Flav, RuPaul, Jason Sudeikis, Rainn Wil...",11.0,2024,Accion
4,tt13818368,Movie,"Hrithik Roshan, Anil Kapoor, Akshay Oberoi, De...",1.0,2024,Accion

In [237]:
df_action.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            40 non-null     object
 1   tipo          40 non-null     object
 2   nombre        40 non-null     object
 3   mes_estreno   37 non-null     float64
 4   anio_estreno  40 non-null     int64
 5   Genero        40 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.0+ KB

In [238]:
df_action['mes_estreno'].fillna('Desconocido', inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\2374654864.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_action['mes_estreno'].fillna('Desconocido', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_13140\2374654864.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Desconocido' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_action['mes_estreno'].fillna('Desconocido', inplace=True)

In [239]:
# pendiente unir